.nota{
    width: 450px;
    height: 400px;
    top: 220px;
    right: 750px;
    padding: 50px;
    position: absolute;
    background-color: rgb(231, 219, 219);
    border: 2px solid black;
}

*{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    

    
}

.text{
    position: absolute;
    top: 280px;
}